name: Enforce PR Labels

on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]
jobs:
  enforce-label:
    runs-on: ubuntu-latest
    steps:
    - uses: yogevbd/enforce-label-action@2.1.0
      with:
        REQUIRED_LABELS_ANY: "bug,enhancement,skip-changelog,security,chore,dependencies"
        REQUIRED_LABELS_ANY_DESCRIPTION: "Select at least one label from ['bug,enhancement,skip-changelog,security,chore,dependencies']"
        BANNED_LABELS: "banned"